body {
  background-color: white;
  font-family: 'Gill Sans';
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

form, input, .item {
  border: 0;
  padding: 0; margin: 0;
  width: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

input, .item {
  background-color: rgb(200, 200, 200);
  padding: 0.5em;
  display: block;
  color: gray;
  font-size: 20px;
}

.item {
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(200, 200, 200);
}

table {
  width: 100%;
}

.left {
  width: 100px;
  text-align: left;
}

.middle {
  width: 400px;
  text-align: center;
}

.right {
  width: 100px;
  text-align: right;
}

.menu {
  padding: 0.25em;
  background-color: rgb(100, 100, 100);
  color: white;
}

.menu a, .menu a:hover, .menu a:visited {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.item {
  padding: 0;
}

.item .detail {
  padding: 8px;
}

.item .done {
  text-decoration: line-through;
}

.item .left, .item .middle {
  text-align: left;
}

.item .middle {
  width: 500px;
  background-color: rgb(240, 240, 240);
}

.item .left, .item .right {
  width: 50px;
  font-size: 14px;
  text-align: center;
  color: rgb(150, 150, 150);
}
